@import "../variables.css";
@import "../reset.css";

.main-header {
    background-color: var(--color-background);
    padding: 20px 0 0 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

.nav-item {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-main);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    font-size: var(--fs-sub);
    position: relative;
    padding: 5px 15px;
    z-index: 1;
}

.nav-item.active::after {
    content: ""; 
    position: absolute;
    background-image: url('/assets/component_assets/cyan_markings/cyan_marking2.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 3rem;
    
    z-index: -1;
}

.logo-wrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-wrapper img {
    height: 3.5rem;
    width: auto;
    display: block;
    position: relative;
}

.header-divider {
    border: 0;
    border-top: 1px solid var(--color-text);
    margin-top: 1.3rem;
    width: 100%;
}

.hamburger {
    display: none;
}

/* 
    MOBIL SKJERMER
*/
@media (max-width: 768px) {
    .hamburger {
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hamburger img {
        width: 2rem;
        height: auto;
    }

    .nav-links {
        display: none;
    }

    .nav-links.open {
        gap: 3rem;
        top: 5rem;
        right: 0;
        width: 100%;
        background-color: var(--color-background);
        z-index: 1;
        padding: 1rem 2rem;
        border: 1px solid var(--color-text);
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: absolute;
        animation: smoothSlide 0.3s ease;
    }

    .nav-container{
        padding: 0 1.5rem;
        position: relative;
    }

    body.menu-open main {
        filter: blur(3px);
        transition: filter 0.3s ease;
    }

    .logo-wrapper img {
        height: 2.5rem;
    }

    @keyframes smoothSlide {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}