/* Alex Harsvik */
@layer reset, base, header, eventActionBar;

@import url("../variables.css");
@import url("../reset.css") layer(reset);
@import url("../components/eventActionBar.css") layer(eventActionBar);
@import url("../components/header.css") layer(header);

@layer base {
  .event-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;;
  }
}