/* Ansvar: Eileen Kim */

@import "../variables.css";
@import "../reset.css";
@import "../components/header.css";
@import "../components/card.css";

.explore-header {
    font-family: var(--font-header);
    font-size: var(--fs-header);
    padding: 3rem 2rem 2rem 3rem;
}

.filter-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    align-items: flex-start;
}

.filter-bar {
    display: flex;
    width: 100%;
    padding: 0 3rem
}

.category-tags {
    display: flex;
    gap: 1rem;
}

.category-tags.expanded {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    overflow: visible;
    margin-bottom: 1rem;
    width: 100%;
}

.tag-row {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.action-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.tag-btn {
    background: url('/assets/component_assets/icons/tag_red_empty.webp');
    background-size: 100% 100%;
    font-family: var(--font-header);
    font-size: var(--fs-sub);
    
    border: none;
    padding: 0.8rem 1.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tag-btn.active {
    background: url('/assets/component_assets/icons/tag_red_filled.webp');
    background-size: 100% 100%;
    color: white;
}

.hidden-tag {
    display: none;
}

.category-tags.expanded .hidden-tag {
    display: inline-flex;
}

.arrow-icon {
    background: url('/assets/component_assets/black_markings/arrow_noline2.webp');
    background-size: 100% 100%;
    height: 2rem;
    width: 1.5rem;
    margin-top: 0.4rem;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon.active {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.dropdown-btn {
    background: url('/assets/component_assets/icons/tag_red_empty.webp');
    background-size: 100% 100%;
    font-family: var(--font-header);
    font-size: var(--fs-sub);
    filter: grayscale(100%) brightness(0.1);
    
    border: none;
    padding: 0.8rem 1.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dropdown-btn.active {
    filter: none;
    color: white;
    background: url('/assets/component_assets/icons/tag_red_filled.webp');
    background-size: 100% 100%;
}


.filter-icon-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    font-family: var(--font-header);
    font-size: var(--fs-sub);
    font-weight: bold;
    padding: 1rem;
    border: none;
    background-color: transparent;
}

.filter-icon-btn img {
    width: 24px;
    height: auto;
    filter: grayscale(100%);
}

.sticky-addBtn {
    background-color: #EB4496;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    border: none;

    position: fixed;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-addBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 3rem;
}

@media (max-width: 768px) {

    .filter-section-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .explore-header {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .tag-row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    .filter-bar {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }
    
    .category-tags {
        display: flex;
        height: auto;
        flex-wrap: nowrap;
        overflow: hidden;
        flex-grow: 1;
        gap: 2rem;
    }

    .action-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 0.5rem;
    }

    .arrow-icon.active {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }

    .tag-btn {
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .dropdown-btn {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .filter-icon-btn {
        padding: 0.5rem 0;
    }

    .arrow-icon {
        flex-shrink: 0;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .arrow-icon.active {
        transform: rotate(90deg);
    }

    .event-grid {
        grid-template-columns: 1fr;
      }
}

/*
    MODAL!!!
*/

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay.hidden {
    display: none;
}

.modal-box {
    background-color: var(--color-background);
    padding: 2rem;
    position: relative;
    border: 2px solid var(--color-text);
    width: 80%;
}

.modal-layout {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 2rem;
}

/*
    FORM PÅ HØYRESIDEN
*/

.modal-left h2{
    font-family: var(--font-main);
    font-size: var(--fs-header);
    margin: 1 0 1.5rem 0;
    text-transform: uppercase;
}

.modal-divider {
    background-color: grey;
    width: 1px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        font-family: var(--font-header);
        font-size: var(--fs-h);
        font-weight: bolder;
        margin-top: 0.5rem;
    }

    input, textarea {
        font-family: var(--font-header);
        font-size: var(--fs-sub);
        padding: 0.6rem 0.8rem;
        border: 1.5px solid var(--color-text);
        width: 95%;
    }

    select {
        font-family: var(--font-header);
        font-size: var(--fs-sub);
        padding: 0.6rem;
        border: 1.5px solid var(--color-text);
        width: 100%;
    }
}

#modal-close {
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: none;
}

#modal-submit {
    font-family: var(--font-header);
    font-size: var(--fs-sub);
    font-weight: var(--fw-bold);
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 0.8rem;
    margin-top: 1rem;
    width: 100%;
}

#modal-submit:hover{
    opacity: 0.85;
    transform: scale(1.03);
}

.modal-error {
    font-family: var(--font-main);
    color: red;
    margin: 0;
}

.modal-error.hidden {
    display: none;
}

/*
    FORHÅNDSVISNING
*/

.modal-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    h3 {
        align-self: flex-start;
        font-family: var(--font-main);
        font-size: var(--fs-header);
    
        margin: 1 0 1.5rem 0;
        text-transform: uppercase;
    }

    div {
        margin-top: 1rem;
    }
}

/*
    PREVIEW CARDS
*/

.preview-card {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    width: 18.75rem;
    height: 25rem;
    background-image: url('/assets/component_assets/cards/card_3.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;    
    box-sizing: border-box;
}

.preview-card:hover{
    animation: dingle 1500ms linear infinite;
}

@keyframes dingle {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(5deg); }
    75%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}



