@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-primary: #EB4496;
  --color-secondary: #72D1D4;
  --color-background: #F9F3EA;
  --color-text: #000000;

  --font-header: 'Inria Serif', serif;
  --font-main: 'Sometype Mono', monospace;

  --fs-header: 18px;
  --fs-sub: 16px;
  --fs-body: 12px;

  --fw-bold: 700;
  --fw-regular: 400;
}
